/DbTest/bin/Debug/*.dll
/DBTests/bin/Debug/*.pdb
/DBTest1/bin/Debug
/DBTest1/obj/Debug
/DBTests/obj/Debug
/DBTests/bin/Debug
/DbTest/bin/Debug
/DbTest/obj/Debug
/Football.DatatEntities1/bin/Debug
/Football.DatatEntities1/obj/Debug
/Football.Tests/bin/Debug
/Football.Tests/obj/Debug
/Football/obj/Debug
/Football/bin/Debug
/Football.Web/bin
/Football.Web/obj/Debug
/.vs
/DBTests/*.user
/Football.Entities/bin/Debug
/Football.Entities/obj/Debug
/Football.Entities/*.user
/Football.Web/App_Data/*.mdf
/Football.Web/App_Data/*.ldf
/packages/EntityFramework.6.1.3.deleteme
